@import 'variables';

body {
    background-color: #1e2c44; /* Màu nền giống như trong hình */
    color: white;
}

h1 {
    color: white;
}

.feature-icon img {
    width: 64px;
    height: 64px;
}

.feature-icon h5 {
    color: white;
    font-weight: bold;
}
