<div class='container my-5'>
    <!-- Logo -->
    <div class='text-center mb-4'>
        <img
            src='https://img.icons8.com/?size=100&id=Afywj7OaoFmM&format=png&color=000000'
            alt='Logo'
            class='logo'
        />
    </div>

    <!-- Title -->
    <div class='text-center mb-4'>
        <h1 class='font-weight-bold'>Hệ thống quản lý ký túc xá</h1>
    </div>

    <!-- Features Icons - Row 1 -->
    <div class='row text-center mb-4'>
        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/payments/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=66087&format=png&color=000000'
                        alt='Thông tin thanh toán hàng tháng'
                    />
                    <h5 class='mt-2'>Thông tin thanh toán hàng tháng</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/service-usages/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=21235&format=png&color=000000'
                        alt='Thông tin sử dụng dịch vụ'
                    />
                    <h5 class='mt-2'>Thông tin sử dụng dịch vụ</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/visit-logs/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=RK6ngBWwIz1L&format=png&color=000000'
                        alt='Lịch sử khách đến thăm'
                    />
                    <h5 class='mt-2'>Lịch sử khách đến thăm</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/service-revenues/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=46hOs_pUof5Y&format=png&color=000000'
                        alt='Doanh thu dịch vụ'
                    />
                    <h5 class='mt-2'>Doanh thu dịch vụ</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/check-constraints/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=000000'
                        alt='Kiểm tra thông tin'
                    />
                    <h5 class='mt-2'>Kiểm tra thông tin</h5>
                </a>
            </div>
        </div>
    </div>

    <!-- Features Icons - Row 2 -->
    <div class='row text-center'>
        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/students/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=QlB1OMIqTVgl&format=png&color=000000'
                        alt='Sinh viên'
                    />
                    <h5 class='mt-2'>Quản lý sinh viên</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/rooms/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=20629&format=png&color=000000'
                        alt='Phòng'
                    />
                    <h5 class='mt-2'>Quản lý phòng ở</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/services/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=44471&format=png&color=000000'
                        alt='Dịch vụ'
                    />
                    <h5 class='mt-2'>Quản lý dịch vụ</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/guests/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=pqbBAjQZkBg0&format=png&color=000000'
                        alt='Khách'
                    />
                    <h5 class='mt-2'>Quản lý khách đến thăm</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/vehicles/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=36498&format=png&color=000000'
                        alt='Xe'
                    />
                    <h5 class='mt-2'>Quản lý xe</h5>
                </a>
            </div>
        </div>

        <div class='col-lg-2 col-md-4 col-sm-6 mb-4'>
            <div class='feature-icon'>
                <a href='/parking-logs/'>
                    <img
                        src='https://img.icons8.com/?size=100&id=40317&format=png&color=000000'
                        alt='Lịch sử gửi/lấy xe'
                    />
                    <h5 class='mt-2'>Lịch sử gửi/lấy xe</h5>
                </a>
            </div>
        </div>
    </div>
</div>